[submodule "contrib"]
	path = contrib
	url = https://github.com/neontribe/drupal-commit-hooks.git 
[submodule "nt2_map/neonmap"]
	path = nt2_map/neonmap
	url = https://github.com/neontribe/neonmap.git
