@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

html
{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

body
{
  max-width: 750px;
  margin: auto;

  margin-top: 1em;
  margin-bottom: 1em;

  padding: 1em;

  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

h1
{
  font-size: 1em;
  text-align: center;
}


nav
{
	text-align: center;
}

nav a
{
	padding-left: 2em;
	padding-right: 2em;
}


hr
{
  border: none;
}

label
{
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
}

p.error
{
  color: blue;
}

button.submit
{
  display: block;
  margin-left: auto;
}

.level-fatal{color:red;}
.level-fail{ color:orange;}
.level-info{color:blue;}
.level-status{color:black;}
.level-same{color:green;}
.level-different{color:gold;}



div.log
{
  border: 1px blue solid;
  min-height: 5em;
  display: table;
  width: 100%;
}

div.log .message
{
  display: table-row;
}

div.log .message .part
{
  display: table-cell;
  padding-right: .5em;

  border-bottom: 1px blue solid;
  border-right: 1px blue solid;
}

div.log .message:last-child .part
{
  border-bottom: 0;
}

div.log .message .part:last-child
{
  border-right: 0;
}

div.log .message .part.long::before
{
  content: "↓ ";
}

div.log .message .part.long::after
{
  content: " ↓";
}
