div.log
{
  border: 1px gray dashed;
  min-height: 5em;
  display: table;
  width: 100%;
}

div.log .message
{
  display: table-row;
}

div.log .message .part
{
  display: table-cell;
  padding-right: .5em;

  border-bottom: 1px gray dotted;
  border-right: 1px gray dotted;
}

div.log .message:last-child .part
{
  border-bottom: 0;
}

div.log .message .part:last-child
{
  border-right: 0;
}

div.log .message .part.long::before
{
  content: "↓ ";
}

div.log .message .part.long::after
{
  content: " ↓";
}
