html
{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

body
{
  max-width: 512px;
  margin: auto;

  margin-top: 1em;
  margin-bottom: 1em;

  padding: 1em;
  border: 1px gray dashed;

  font-family: monospace;
  font-size: 1.2em;
}

h1
{
  font-size: 1em;
  text-align: center;
}

h1::before
{
  content: "<<< ";
}

h1::after
{
  content: " >>>";
}
