{% extends "layout.html" %}
{% block title %}Choose Task{% endblock %}
{% block content %}
<form action="setup_task" method="POST">
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
  <label for="host">Choose Host:</label>
  <select name="host" required>
    {% for host in hosts %}
      <option value="{{ host }}">{{ host }}</option>
    {% endfor %}
  </select>
  <br />
  <label for="playbook">Choose PlayBook:</label>
  <select name="playbook" required>
    {% for playbook in playbooks %}
      <option value="{{ playbook.name }}">{{ playbook.label }}</option>
    {% endfor %}
  </select>
  <br />
  <button type="submit" class="submit">Configure</button>
</form>
{% endblock %}
