/*
  Main Page
 */
.node--type-property.node--view-mode-full {
  .node__content {
    margin: 1em;
    // Property Page Slideshow Styles
    .field--name-cottage-images {
      width: 900px;
      height: 600px;
    }

    .slick-next,
    .slick-prev {
      z-index: 100;
      height:100%;
      width: 50px;
      background: rgba(0.0,0.0,0.0,0.7);
    }

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }
  }
}

/*
  Teaser
 */

.node--type-property.node--view-mode-teaser {
  margin: 1em auto;
  border: 1px solid black;
  h3 {
    font-size: 25px;
  }
  .node__content {
    height: 250px;
    .field--name-field-cottage-featured-image {
      float: left;
      img {
        display: block;
        max-height: 250px;
        width: auto;
        height: auto;
      }
    }
    .field--name-cottage-images {
      float: left;
      max-height: 250px;
      width: 250px;
    }

    .slick-next,
    .slick-prev {
      z-index: 100;
      width: 50px;
      height: 50px;
      background: rgba(0.0,0.0,0.0,0.7);
    }

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }
    .property-teaser-content {
      float: left;
      padding: 0 .5em .5em .5em;
      height: 100%;
      text-align: center;
      border-right: 1px solid $brand_highlight_colour;
      border-left: 1px solid $brand_highlight_colour;
      min-width: 200px;
      .property-teaser-details {
        overflow: hidden;
        > .field {
          display: block;
          > i {
            margin-right: .5em;
          }
        }
      }
    }
    .property-teaser-info {
      padding: 0 1em 1em 1em;
      overflow: hidden;
    }
    .property-teaser-pricing {
      overflow: hidden;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (max-width : 1024px) {
    .node__content {
      height: auto;
      .property-teaser-content {
        float: none;
        display: block;
        border: none;
      }
      .property-teaser-info {
        display: inline-block;
      }
    }
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (max-width : 750px) {
    .node__content {
      .field--name-field-cottage-featured-image {
        img {
          width:100%;
          height:100%;
          object-fit: cover;
          overflow: hidden;
        }
      }
      .field--name-cottage-images {
        float: none;
        margin: 0 auto;
      }
      .property-teaser-info {
        text-align: center;
      }
    }
  }
}



