/*
  Teaser
 */

.node--type-property.node--view-mode-teaser {
  min-width: 400px;
  margin: 1em auto;
  border: 1px solid black;

  .node__content {
    height: 250px;
    .field--name-field-cottage-featured-image {
      float: left;
      img {
        display: block;
        max-height: 250px;
        width: auto;
        height: auto;
      }
    }
    .property-teaser-content {
      float: left;
      padding: 0 .5em .5em .5em;
      height: 100%;
      text-align: center;
      border-right: 1px solid $brand_highlight_colour;
      border-left: 1px solid $brand_highlight_colour;
      min-width: 200px;
      .property-teaser-details {
        > .field {
          display: block;
          > i {
            margin-right: .5em;
          }
        }
      }
    }

    .property-teaser-pricing {
      overflow: hidden;
    }
  }
}

