/*
  Teaser
 */

.node--type-property.node--view-mode-teaser {
  min-width: 400px;
  margin: 1em auto;
  border: 1px solid black;

  .node__content {
    height: 250px;
    h3 {
      margin: 0;
    }
    .field--name-field-cottage-featured-image {
      float: left;

      img {
        display: block;
        max-height: 250px;
        width: auto;
        height: auto;
      }
    }
  }
}

