.region {
  padding: .25em;
}

.region-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  width: 80%;
  width: 80vw;
  margin: 0 auto;

  .region-sidebar-left {
    width: 20%;
    min-width: 300px;
  }

  .region-content {
    width: 80%;
  }

}
