<!DOCTYPE html>
<html>
  <head>
    <title>neontower - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/neontower.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
    {% block resources %}{% endblock %}
  </head>
  <body>
    <h1>neontower</h1>
    {% block content %}{% endblock %}
  </body>
</html>
