{% extends "layout.html" %}
{% block title %}Choose Task{% endblock %}
{% block content %}
<form action="setup_task" method="POST">
  <label>Host: </label>{{ host }}
  <form action="/" method="GET">
  	<a href='/'><button>Re-choose host</button></a>
  </form>
  <br />
  <label>Playbook: </label>{{ playbook.label }}
  <form action="/" method="GET">
  	<a href='/'><button>Re-choose playbook</button></a>
  </form>
  <br />
  <input type="hidden" name="host" value="{{ host }}">
  <input type="hidden" name="playbook" value="{{ playbook.name }}">
  {% for field in playbook.fields %}
    <label for="{{ field.name }}">{{ field.label }}</label>
    {% if is_dictionary(field.value) %}
      {% set value = helpers[field.value.helperFunction](host) %}
    {% else %}
      {% set value = field.value %}
    {% endif %}
    {% if is_string(value) %}
      <input type="text" name="{{ field.name }}" value="{{ value }}">
    {% elif is_boolean(value) %}
      {% if value %}
        <input type="checkbox" name="{{ field.name }}" checked>
      {% else %}
        <input type="checkbox" name="{{ field.name }}">
      {% endif %}
    {% elif is_list(value) %}
      <select name="{{ field.name }}">
        {% for option in value %}
          <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    {% endif %}
    <br>
  {% endfor %}
  <button class="submit">Run</button>
</form>
<hr>
<p>Log:</p>
<div class="log"></div>
{% endblock %}
