{% extends "layout.html" %}
{% block title %}Choose Task{% endblock %}
{% block resources %}
{% endblock %}
{% block scripts %}
<script src="/static/js/logger.js"></script>
<script src="/static/js/ansible-formatter.js"></script>
<script src="/static/js/setup-task.js"></script>
{% endblock %}
{% block content %}
<label>Host: </label>{{ host }}
<br />
<label>Playbook: </label>{{ playbook.label }}
<br />
<hr>
<form id="playbook-form">
  <input type="hidden" name="host" value="{{ host }}">
  <input type="hidden" name="name" value="{{ playbook.name }}">
  {% for field in playbook.fields %}
    <label for="{{ field.name }}">{{ field.label }}</label>
    {% if is_dictionary(field.value) %}
      {% set value = helpers[field.value.helper_function](host) %}
    {% else %}
      {% set value = field.value %}
    {% endif %}
    {% if is_string(value) %}
      <input type="text" name="{{ field.name }}" value="{{ value }}">
    {% elif is_boolean(value) %}
      {% if value %}
        <input type="checkbox" name="{{ field.name }}" checked>
      {% else %}
        <input type="checkbox" name="{{ field.name }}">
      {% endif %}
    {% elif is_list(value) %}
      <select name="{{ field.name }}">
        {% for option in value %}
          <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    {% endif %}
    <br>
  {% endfor %}
  <button type="submit" class="submit">Run</button>
</form>
<hr>
<p>Log:</p>
<div id="playbook-log" class="log"></div>
{% endblock %}
